extends layout.pug

block content
    h1 CREATE A POST
    if errors.length
        each error in errors
            p= error
    form(action="/posts/new" method="post") 
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="title") Title
        input(type="text" name="title" value=post.title)
        label(for="content") Content
        input(type="text" name="content" value=post.content)
        label(for="subId") Subbreaddit
        select(name="subId")
             each sub in subs 
                option(value=sub.id)= sub.name
        button Submit Post